.header {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.centerAuswahl {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
